@import url(variables.css);

.selector {
    display: flex;
    min-width: 800px;
    justify-self: center;
    min-height: 50vh;
    padding: 2em;
}

.selector>* {
    flex: 1 1 0;
    margin: 0px 1em;
}

.server-choose {
    display: flex;
    justify-content: center;
    align-items: center;
}